.gitignore.swp
*.o
.deps
.dirstamp
Makefile
config.guess
config.h
config.h.in~
config.log
config.status
autom4te.cache
fuse
z80/coretest
libtool
stamp-h1
data/win32/fuse.manifest
data/win32/installer.nsi
ui/widget/fuse.font
ui/widget/options_internals.h
